body {
    font-family: Arial, sans-serif;
}

div.number {
    position: absolute;
    width: 80px;
    height: 80px;
    text-align: center;;
    font-size: 30pt;
    padding-top: 25px;
    background: url('./obr/hex/hex_grey.png') no-repeat;
    background-size: 80px 89px;
}

div.number:hover {
    cursor: pointer;
    background: url('./obr/hex/hex_hover.png') no-repeat;
    background-size: 80px 89px;
}

.blue_hex {
    background-image: url('./obr/hex/hex_blue.png') !important;
}

.green_hex {
    background-image: url('./obr/hex/hex_green.png') !important;
}

.red_hex {
    background-image: url('./obr/hex/hex_red.png') !important;
}

.yellow_hex {
    background-image: url('./obr/hex/hex_yellow.png') !important;
}

.grey_hex {
    background-image: url('./obr/hex/hex_grey.png') !important;
}

.dark_hex {
    background-image: url('./obr/hex/hex_dark.png') !important;
}

.lottery_hex {
    background-image: url('./obr/hex/hex_grey_los.png') !important;
}

div.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.screen#uvod{
    background-color: rgba(160, 160, 160, .8);
}

div.screen#help{
    background-color: rgba(160, 160, 160, .8);
}

div.screen#lottery{
    background-color: rgba(160, 160, 160, .8);
}

div.page {
    margin: auto;
    position: relative;
    width: 800px;
    height: 600px;
}

div.clear {
    background: none;
}

/*NAZVY TYMU*/
div#playground .team {
    position: absolute;
    top: 20px;
    height: 50px;
    width: 250px;
}

div#playground #tym_left {
    left: 0;
}

div#playground #tym_right {
    right: 0;
    text-align: right;
}

div#playground #tym_left .name {
    margin-left: 80px;
    font-size: 30pt;
}

div#playground #tym_right .name {
    margin-right: 80px;
    font-size: 30pt;
}

div#playground #img_tym_left {
    float: left;
    width: 60px;
    height: 67px;
    background-size: 60px 67px;
    margin-left: 10px;
}

div#playground #img_tym_right {
    float: right;
    width: 60px;
    height: 67px;
    background-size: 60px 67px;
    margin-right: 10px;
}

div#color_select {
    position: absolute;
    background-color: rgba(160, 160, 160, 0.6);
    padding: 10px 5px 5px 5px;
}

div#color_select div {
    margin: 2px;
    width: 30px;
    height: 30px;
    float: left;
    background-size: 30px 30px;
}

div#color_select div:hover {
    cursor: pointer;
}

/*LOSOVANI*/
div#los {
    position: absolute;
    top: 0;
    width: 800px;
    height: 600px;
    border: 0 solid black;
    left: 50%;
    margin-left: -400px;
}

div#los_leva, div#los_prava {
    font-size: 50pt;
    position: absolute;
    top: 150px;
    width: 210px;
    height: 220px;
    border: 0 solid black;
    padding: 30px 0px 0px 40px;
}
div#los_leva{
    left: 0;
}

div#los_prava{
    right: 0;
}

/*Nápověda*/
div#help {

}

div#help div.text {
    font-size: 150%;
    margin: 0 15% 0 15%;
}

div#help div.text > ul{
    margin: 0;
    padding-top: 100px;
}

div#help #close_help_button {
    position: absolute;
    right: 37px;
    bottom: 20px;
}

/*Úvod*/
div#uvod {

}

div#uvod div.nadpis {
    font-weight: bold;
    font-size: 100pt;
}

div#uvod .nadpis .az {
    padding: 80px 0px 0px 170px;
    color: rgb(241, 145, 6);
    -webkit-text-stroke: 2px black;
}

div#uvod .nadpis .kviz {
    margin: -20px 0px 0px 340px;
    color: rgb(88, 187, 206);
    -webkit-text-stroke: 2px black;
}

div#uvod div.jmeno {
    text-align: left;
    position: absolute;
    left: 30px;
    bottom: 20px;
}

div#uvod div.jmeno a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

div#uvod div.jmeno a:hover {
    text-decoration: none;
}

#help_button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.button {
    color: #fff;
    background-color: #337ab7;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    border: 1px solid #2e6da4;
    border-radius: 4px;
}

.button:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}